@font-face {
  font-display: swap;
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aladin-v19-latin-regular.woff2') format('woff2');
}

.head-name {
  background-color: rgb(227, 211, 189);
  box-shadow: 0 0 5px black;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Aladin;
}

.foto {
  position: relative;
  left: auto;
  right: auto;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid white;
  object-fit: cover;
  max-width: 200px;
  max-height: 150px;
}

.table-style {
  text-align: center;
  vertical-align: middle;
  width: 600px;
  box-shadow: 0 0 8px black;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
  font-family: Aladin;
  background-color: rgb(227, 211, 189);
}

.list-style {
  margin: 20px;
  display: inline-flex;
  justify-content:space-around;
  flex-wrap: wrap;
  gap: 30px 20px;
}
